[user]
	email = can.guvendiren@hubx.co
	name = Can Güvendiren
	signingkey = can.guvendiren@hubx.co
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
